.android/
.android-home/
.android-local/
.android-sdk-local/
.android-sdk/
.android-user-home/
.gradle/
.gradle-local/
.gradle-home/
.gradle-user/
.gradle-user-home/
.idea/
.kotlin-daemon/
.kotlin-home/
.test-home/
.tmp/
.userhome/
.home/
build/
app/build/
app/release/
\!\!\!/
local.properties
analytics.settings
WR.md
*.jks
*.keystore
*.apk
*.aab
backup_current_version_*.zip
