.android/
.android-home/
.android-sdk/
.android-user-home/
.gradle/
.gradle-home/
.gradle-user/
.gradle-user-home/
.idea/
.kotlin-daemon/
.kotlin-home/
.userhome/
build/
app/build/
app/release/
local.properties
analytics.settings
*.jks
*.keystore
*.apk
*.aab
backup_current_version_*.zip
